.text-center{
  text-align: center;
}

table {
  &.weather-report-table {
    width: 100%;

    thead{
      th{
        border-bottom: 2px solid grey;
        padding: 10px;
      }
    }

    tbody{
      tr {
        td{
          border-bottom: 1px solid black;
          border-right: 1px solid black;
          padding: 10px;
          text-align: center;
        }
      }
    }
  }
}
.with-padding{
  padding: 10px;
}
.submit-btn{
  max-height: 45px !important;
}
.ajax-loader{
  top: 80px;
  position: fixed;
  z-index: 99999999;
  width: 100%;
}

