<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools text-center">
        <md-button class="md-icon-button mi mi-home" aria-label="HomeIcon" ></md-button>

        <h2 flex md-truncate>Home Page</h2>
    </div>
</md-toolbar>