<div ng-controller="HomeCtrl">

    <md-card class="default with-padding">
        <form ng-submit="refreshReport()" id="form1">
            <div layout="row">
                <md-input-container flex="75">
                    <label>Enter City name..</label>
                    <input type="text" name="cityname" ng-model="city" aria-label="City Label" />
                </md-input-container>

                <md-button type="submit" class="md-primary md-raised submit-btn" flex="20" aria-label="Search" title="Search">Search</md-button>
                <md-button type="submit" class="md-accent md-raised submit-btn mi mi-autorenew" flex="5" aria-label="Reload reports" title="Refresh Reports"></md-button>
            </div>
        </form>
    </md-card>
    <md-card class="default with-padding">
        <table class="weather-report-table" ng-if="weatherList.length > 0">
            <thead>
            <th>Index</th>
            <th>Time</th>
            <th>Min Temp</th>
            <th>Max Temp</th>
            <th>Wind Speed</th>
            <th>Humidity</th>
            <th>Description</th>

            </thead>
            <tbody>
            <tr ng-repeat="item in weatherList">
                <td>{{$index+1}}</td>
                <td>{{item.dt_txt}}</td>
                <td>{{item.main.temp_min}}</td>
                <td>{{item.main.temp_max}}</td>
                <td>{{item.wind.speed}} / {{item.wind.deg}}</td>
                <td>{{item.main.humidity}}</td>
                <td>
                    {{item.weather.length > 0 ? item.weather[0].description : 'None'}}
                </td>
            </tr>
            </tbody>

        </table>

        <h2 ng-if="weatherList.length == 0" class="text-center">No Reports available</h2>
    </md-card>

</div>