<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Weather Report App</title>
    <link href="../node_modules/angular-material/angular-material.min.css" rel="stylesheet">
    <link href="../node_modules/material-icons/css/material-icons.min.css" rel="stylesheet">
    <link href="../node_modules/material-icons/iconfont/material-icons.css" rel="stylesheet">
    <link rel="stylesheet/less" href="styles/main.less">
</head>
<body id="app" class="app" ng-controller="MainCtrl">
    <header class="site-head" ng-include=" 'views/header.html'"></header>

    <div layout="row" layout-sm="column" layout-align="space-around" ng-if="$root.ajaxLoader" class="ajax-loader">
        <md-progress-circular md-mode="indeterminate" md-diameter="100px"></md-progress-circular>
    </div>

    <div class="main">
        <div ng-view id="main-content">

        </div>
    </div>

    <!-- build:js-->
    <script src="../node_modules/less/dist/less.min.js"></script>
    <!-- /build -->

    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/angular-route/angular-route.min.js"></script>
    <script src="../node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="../node_modules/angular-material/angular-material.min.js"></script>
    <script src="../node_modules/oclazyload/dist/ocLazyLoad.min.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/app.main.ctrl.js"></script>
</body>
</html>